.root {
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.taskMaxScore {
  width: 80px;
  margin: 15px 10px 0 0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.taskMaxScore span {
  font-size: 10px;
  line-height: 13px;
  display: block;
  text-align: center;
  margin: 3px;
}

.taskMaxScore p {
  text-align: center;
  font-size: 25px;
}

.taskDescription {
  width: 80%;
  line-height: 15px;
  position: relative;
}

.taskDescription .bold {
  font-weight: bold
}

.textarea {
  width: 100%;
  box-sizing: border-box;
}

.inputScope {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: flex-end;
}

.label {
  display: block;
}

.label label {
  font-size: 15px;
}

.inputNumber {
 height: 40px;
  width: 80%;
  text-align: center;
  line-height: 5px;
}