.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
  text-align: center;
}
@media (max-width: 767px) {
  .loginForm {
    top: 20px;
    transform: translate(-50%, 0);
  }
}
.loginImage {
  width: 100%;
  max-width: 500px;
  margin: 10px auto 50px;
}
.loginCardImg {
  width: 100px;
  margin: 30px auto 20px;
}

.card {
  width: 320px;
}

.input {
  width: 60%;
}

.select {
  width: 40%;
}