.space {
  display: flex;
  marginBottom: 5px;
}

.id {
  width: 80px;
}

.description {
  min-width: 350px;
  max-width: 100%;
}

.title {
  min-width: 120px;
  max-width: 150px;
}

.root {
  margin: 2rem 0 4rem 0;
}
.h2 {
  padding-left: 10px;
}

.button {
 margin-left: 10px;
}